<tr fxLayout="row" class="primary">
  <button mat-icon-button (click)="onBackClick()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="tagMenu" *ngIf="tags?.length && email?.tags">
    <mat-icon class="accent">label</mat-icon>
  </button>
  <button mat-icon-button (click)="email?.deleted ? onRestoreEmail() : onDeleteEmail()" *ngIf="email">
    <mat-icon class="accent">{{ email?.deleted ? 'restore' : 'delete'}}</mat-icon>
  </button>
</tr>
<mat-divider></mat-divider>

<mat-menu #tagMenu="matMenu">
  <div  class="tags-checkbox-container">
  <div *ngFor="let tag of tags; let i=index;" (click)="$event.stopPropagation()">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <mat-checkbox labelPosition="after" [aria-label]="tag" [name]="email.id" [checked]="email.tags.indexOf(tag) > -1"
        (change)="onTagSelectionsChanged.emit($event)">{{tag | uppercase}}
      </mat-checkbox>
      <mat-icon class="mat-error" *ngIf="tagEditMode" (click)="$event.stopPropagation(); tagDeleted(tag)">remove_circle
      </mat-icon>
    </div>
  </div>
  <mat-form-field appearance="outline" (click)="$event.stopPropagation()">
    <mat-label>
      tag name
    </mat-label>
    <input class="primary" matInput [formControl]="tagInput" placeholder="tag name">
    <button matPrefix mat-icon-button (click)="$event.stopPropagation(); addTag(tagInput.value)">
      <mat-icon>add</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button class="accent"
    (click)="$event.stopPropagation(); tagEditMode = !tagEditMode">{{tagEditMode ? 'Done' : 'Edit'}}<mat-icon>{{tagEditMode? 'done':'edit'}}</mat-icon></button>
  </div>
</mat-menu>