<tr fxLayout="row" *ngIf="tags?.length && email?.tags" class="primary">
  <mat-menu #tagMenu="matMenu">
    Tags
     <div *ngFor="let tag of tags">
      <tr>
        <mat-checkbox 
        labelPosition="after" 
        [id]="email.id"
        (change)="onTagSelectionsChanged.emit(tag, tagsForm.controls[tag].value, email.id,$event)">{{tag | uppercase}}</mat-checkbox>
      </tr>
    </div>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="tagMenu">
    <mat-icon class="accent">label</mat-icon>
  </button>
  <button mat-icon-button (click)="onDeleteButtonClicked.emit()">
    <mat-icon class="accent">delete</mat-icon>
  </button>
</tr>
<mat-divider></mat-divider>
