:host{
  font-family: 'Roboto', 'RobotoDraft', 'Helvetica', 'Arial', 'sans-serif';
  .tag-container {
    float:left;
    width:20%;
  }
  hr {
    border: 1px solid lightgray;
  }
.main-content {
  width: 80%
}
}